###########################################################################
#                            TextMate Snippets                            #
###########################################################################

priority -50



snippet mainvoid "main() (main)"
int main(void)
{
	${VISUAL}$0
	return 0;
}
endsnippet

